.user-profile-avatar{
    height: 180px;
    width: 180px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.small-single-select{
    width: 75px !important;
}

.single-select-hack {
    margin-left: 80px;
    margin-top: -54px;
}

.recap-table ul li {
    list-style: none;
    float:left;
    margin-right: 20px;
  }