<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
    <title>Shable</title>
    <style>
        .date_field_button{
            z-index: 10;
            right: -274px;
            position: relative;
            top: -26px;
            width: 20px;
            height: 20px;
            color: transparent;
            background-image: url("${tg.url('/img/Calendar.png')}");
            background-size: cover;
            background-position: center center;
            border: none;
        }
    </style>
</head>

<body>

<div class="index-header">
    <div class="chair-button-container">
        <a href="${tg.url('/user_profile/meals/create')}" style="text-decoration: none !important;">
            <h3 class="chair-button-label"><b>Aggiungi un posto a tavola!</b></h3></a>
    </div>
    <div class="search-form-container">
        <h2 class="search-form-title"><b>Trova il tuo posto a tavola</b></h2>
        ${form.display(value=value)}</div>
</div>

</body>
</html>
