<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/view_meal.css')}" />
    <title>Shable - Visualizza Pasto</title>
</head>
<body>
<div class="row">
    <div class="col-md-4">
        <div class="deal_image" style="background-image: url('${h.meal_image(meal)}');"></div>
    </div>
    <div class="col-md-7 col-md-offset-1 container-background">
        <h2>${meal.name}</h2>
        <p>${meal.menu}</p>
        <p>${meal.description}</p>
        <ul>
            <li><b>Giorno: </b>${h.format_date(meal.date)}</li>
            <li><b>Dalle: </b>${meal.start_time.hour}:${meal.start_time.minute}</li>
            <li><b>Alle: </b>${meal.end_time.hour}:${meal.start_time.minute}</li>
            <li><b>Prezzo: </b>${h.format_price(meal.price)} €</li>
            <li py:if="meal.specific_meal"><b>Cucina Specifica: </b>${meal.specific_meal}</li>
        </ul>
        ${form.display(value)}
        <br/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-4 container-background">
        <h2>LA TAVOLA</h2>
        <ul>
            <li><b>Indirizzo: </b>${user.location.address} ${user.location.number}, ${user.location.city}</li>
            <li><b>Comportamenti a Tavola: </b>
                <span py:for="pref in user.location.preferences">${pref} - </span></li>
            <li><b>Descrizione Tavola: </b>${user.location.description}</li>
        </ul>
    </div>
    <div class="col-md-7 col-md-offset-1 container-background" style="padding-top: 5px;">
        <div class="col-md-5 col-md-offset-1">
            <div class="user-image" style="background-image: url('${h.user_avatar(user)}');"></div>
        </div>
        <div class="col-md-5 col-md-offset-1 ">
            <h2>${h.genderized(user)}</h2>
            <ul>
                <li>${user.display_name}</li>
                <li><b>Preferenze Alimentari: </b>
                    <span py:for="food in user.location.food_types">${food} - </span></li>
            </ul>
        </div>
        <div py:if="len(user.location.feedback)>0" class="col-md-12">
            <h2 style="text-align: center; width: 100%;">FEEDBACK</h2>
            <div py:for="feed in user.location.feedback" style="height: 120px">
                <div class="container-background"  style="height: 92%;width: 100%;padding-top: 5px;">
                    <div class="col-md-3">
                        <ul>
                            <li py:for="rate in feed.rates">${rate[0]}</li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul>
                            <li py:for="rate in feed.rates">
                                <span py:for="i in range(int(rate[1]))" class="glyphicon glyphicon-star"></span></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <div class="feedback-image" style="background-image: url('${feed.user_avatar}');"></div>
                    </div>
                    <div class="col-md-5">
                        <p>${feed.comment}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>