<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
    <title>Shable - Tavola</title>
</head>
<body>
<div class="row">
    <div class="col-md-3">
        <div class="user-profile-avatar" style="background-image: url('${h.user_avatar()}');"></div>
        <div>${h.user_info().display_name}</div>
        <div><a href="${tg.url('/user_profile')}">Informazioni Utente</a></div>
        <div><a href="${tg.url('/user_profile/location')}">Informazioni Tavola</a></div>
        <div></div>
    </div>
    <div class="col-md-offset-2 col-md-8">
        ${form.display(value=value)}
    </div>
</div>
</body>
</html>