<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/photo_upload.css')}" />
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/user_profile.css')}" />
    <title>Shable - Pasti Passati</title>
</head>
<body>
<div class="row">
    <div class="col-md-3">
        <div class="user-profile-avatar" style="background-image: url('${h.user_avatar()}');"></div>
        <div>${h.user_info().display_name}</div>
        <div><a href="${tg.url('/user_profile')}">Informazioni Utente</a></div>
        <div><a href="${tg.url('/user_profile/location')}">Informazioni Tavola</a></div>
        <div><a href="${tg.url('/user_profile/meals')}">Gestione Pasti</a></div>
        <div><a href="${tg.url('/user_profile/past_meals')}">Pasti Passati</a></div>
        <div></div>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered recap-table">
            <tr>
                <th>Pasto</th>
                <th>Data</th>
                <th class="edit-header" style="width: 120px">Lascia un feedback</th>
            </tr>
            <py:for each="meal in meals">
                <tr>
                    <td><a href="${tg.url('/view_meal', params={'id':str(meal._id)})}">${meal.name}</a></td>
                    <td>${h.format_date(meal.date)}</td>
                    <td style="width: 120px">
                        <ul>
                            <li><a href="${tg.url('/user_profile/past_meals/leave_feedback',
                                 params=dict(meal_id=meal._id))}">
                                <span class="glyphicon glyphicon-star-empty"></span></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </py:for>
        </table>
    </div>
</div>
</body>
</html>