<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/photo_upload.css')}" />
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/user_profile.css')}" />
    <title>Shable - Nuovo Pasto</title>
    <style>
        .date_field_button{
            z-index: 10;
            right: -525px;
            position: relative;
            top: -26px;
            width: 20px;
            height: 20px;
            color: transparent;
            background-image: url("${tg.url('/img/Calendar.png')}");
            background-size: cover;
            background-position: center center;
            border: none;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-md-3">
        <div class="user-profile-avatar" style="background-image: url('${h.user_avatar()}');"></div>
        <div>${h.user_info().display_name}</div>
        <div><a href="${tg.url('/user_profile')}">Informazioni Utente</a></div>
        <div><a href="${tg.url('/user_profile/location')}">Informazioni Tavola</a></div>
        <div><a href="${tg.url('/user_profile/meals')}">Gestione Pasti</a></div>
        <div><a href="${tg.url('/user_profile/past_meals')}">Pasti Passati</a></div>

    </div>
    <div class="col-md-6">
        ${form.display()}
    </div>
</div>
</body>
</html>